<?php
  if(RouteManager::hasHook($this->route)) {
    RouteManager::proceed($this->route,$this->controller);
  }
?>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?= $title; ?></title>
    <meta name="description" content="<?= $description; ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="//<?= $_SERVER['HTTP_HOST']; ?>/wip/">
    <link rel="stylesheet" href="public/assets/css/master.css" type="text/css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <?php $this->controller->renderView(); ?> 
  </body>
</html>