<div class="container">
  <div class="row">
    <div class="col">
      <h3>Welcome <?= $header; ?></h3>
      <p class="lead"><?= $lead; ?></p>
      <p><?= $content; ?></p>
    </div>
  </div>
</div>